{% extends "tool_bar.html" %}

{% block content %}
<h1 class="title">Placeholder for Feedback Submission</h1>
<div class="box">
  <form method="POST" action="/signup">
      <div class="field">
          <div class="control">
              <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
          </div>
      </div>

      <div class="field">
        <div class="control">
            <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
        </div>
    </div>

    <div class="field">
      <div class="control">
          <input class="input is-large" type="text" name="flight" placeholder="Flight" autofocus="">
      </div>
    </div>

      <div class="field">
          <div class="control">
              <input class="input is-large" type="text" name="feedback" placeholder="Feedback">
          </div>
      </div>

      <button class="button is-block is-info is-large is-fullwidth">Submit Feedback</button>
  </form>
</div>
{% endblock %}